/*
Theme Name: arthapath_finale
Theme URI: http://www.appharu.com
Author: Ishant Sitaula,Pushpa Raj DC
Description: Description
Version: 1.0.36
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: appharu
*/

body {
    font-family: 'Mukta', sans-serif;
}

a {
    color: #333;
}

a:hover {
    color: #009f3c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-weight: 600;
}

.my-nav {
    background: linear-gradient(45deg, #7f8db5 0%, #13a64f 100%);
}

.b-r {
    border-right: 1px solid #ddd;
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.col-md-4.b-r:last-child {
    border: 0;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.round img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

section.widget img {
    width: 100%;
    margin-bottom: 7px;
}

span.special-title {
    background: #20409a;
    color: white;
    padding: 9px 12px;
}

.over-text {
    font-size: 22px;
    position: absolute;
    bottom: 8px;
    padding: 12px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .85) 100%);
    color: white;
}

.cut-height img {
    height: 84px;
    object-fit: cover;
}

.position {
    position: relative;
}

.ibox {
    position: absolute;
    top: 19px;
    left: -13px;
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px;
    color: #94989b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-4.b-r:first-child {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.width-full img {
    width: 100%!important;
}

.mynav {
    padding: 10px!important;
    background: linear-gradient(45deg, #7f8db5 0%, #13a64f 100%);
}

.team-foot {
    cursor: pointer;
}

.team-foot:hover span.ico-foot {
    color: blueviolet;
    transform: translateX(22px)
}

a.mynav-link {
    padding: 0px!important;
    font-size: 22px;
    color: white!important;
}

article.post-entry ul li {
    color: #212529;
    font-size: 24px;
    font-weight: 400;
    list-style: circle;
}

.banner-h5 {
    left: 0px;
    right: 0px;
    position: absolute;
    height: auto;
    color: #fff !important;
    padding: 15% 0.75rem 0.75rem 0.75rem;
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    bottom: 0px;
    margin-bottom: 0px;
}

.wrapper {
    border: 1px solid #ddd;
    padding: 10px;
}

.banner-h5 a {
    color: #fff;
}


/* search */

.khabarhub-search {
    position: absolute;
    right: 16px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 25px;
    background-color: #20409a2e !important;
    border-radius: 30px;
    display: flex;
    justify-self: center;
    background: none;
}

.search_input {
    color: #21409a;
    border: 0;
    outline: 0;
    background: none;
    width: 131px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 8px;
}

.searchbar:hover>.search_input {
    padding: 5px 10px;
    width: 200px;
    caret-color: red;
    transition: width 0.4s linear;
}


/* 	 .searchbar:hover .search_input{
		 background:#032540;
	 } */

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 4px;
    color: white;
    background: #a8acb2;
    cursor: pointer;
    border: none;
}


/* search ends */

.full-background {
    background: #ffffff;
    box-shadow: 0 0 13px 0;
    color: #e8dfdf;
    padding: 12px;
}

.full-background img {
    width: 100%;
}

.my-nav .nav-link {
    margin-left: 15px;
    margin-right: 15px;
}

i.fas.fa-square-full.align-self-center {
    background: red;
    height: 15px;
    width: 15px;
}

.english {
    background: #13a64f;
    padding: 1px;
}

.banner-title {
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 2px 0px 0px #dad4d4;
}

.more-text {
    font-size: 18px !important;
    font-weight: bold;
    color: white;
}

.read-more {
    border-radius: 50px;
}

h4.sub-title {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    color: #007cb9;
    margin-bottom: 2%;
}

.my-nav a.nav-link,
.navbar-brand {
    font-size: 1.325em;
    font-weight: bold;
    color: white!important;
}

.my-nav a.nav-link:hover,
.navbar-brand:hover {
    color: white!important;
    transition: 1s;
}

.sub-menu a.nav-link {
    font-size: 17px;
}

.sub-menu .nav-link {
    margin: auto;
}

.banner-p {
    width: 80%;
    margin: 2% 10%;
}

.time-ago {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #ada7a7;
    position: absolute;
    float: right;
    right: 28px;
}

p {
    color: #656565;
}

.latest-wrap {
    border: 1px solid #d7d7d7;
    padding: 10px;
}

.cat-title {
    padding: 5px 0px;
    color: #170101;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 2px solid #009f3c;
}

.feature-wrap .nav-link {
    color: #fff;
}

.feature-wrap .nav-link:hover {
    color: #fff !important;
    background: #057610;
}

.feature-border {
    border: 1px solid #007bff;
    margin-top: 40px;
}

.feautre-active {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background: #057610;
}

.samachar-wrap .nav-link {
    color: #6a6363 !important;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 0px 14px;
    margin: 0px;
}

.samachar-wrap .nav-link:hover {
    color: #009f3c !important;
}

.samachar-wrap .navbar {
    border-bottom: 2px solid #009f3c;
}

.samachar-wrap .navbar-brand {
    color: #000 !important;
    font-size: 30px;
}

.more-page {
    font-size: 30px;
    font-weight: bold;
}

.samachar-wrap .nav-item {
    border-right: 1px solid #ddd;
    line-height: 1;
    padding-right: 2px;
    padding-left: 2px;
}

.latest {
    background: #009f3c;
    text-align: center;
    padding: 5px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.cat-title a {
    color: #fff;
}

.archive-title {
    background: #ddd;
}

.card-body p {
    margin: 0px
}

aside .card {
    border: none;
}

.post-list,
.video-list {
    padding: 10px 0px;
    border-bottom: solid 1px #ddd !important;
}

.post-list.card img {
    width: 100%;
}

aside .post-list:last-child,
.category .post-list {
    border-bottom: none !important;
}

.calc-height {
    height: calc(100% - 0px);
}

.col-4-wrap {
    border: 1px solid #ddd;
    padding: 10px;
}

.small-list-img img {
    width: 80px;
}

.small-list img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.page header {
    background: #efefef;
    padding: 10px;
}

.post-entry p {
    font-size: 1.2em;
    color: #333;
}

.post-entry blockquote {
    border-left: solid 5px #bbb;
    padding: 10px;
    background: #e3e3e3;
}

.post-meta {
    font-size: 12px;
}

.video-thumb {
    overflow: hidden;
}

.video-list img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.video-list img {
    width: 100%;
    transition: 1s;
}

.play-icon {
    position: absolute;
    bottom: 10px;
    padding: 0px 10px;
    background: #333;
    color: #fff;
}


/* Home css*/

.latest .media {
    background: linear-gradient(#f7f7f7, #fff 77%, #efefef 95%);
    padding-bottom: 15px;
}

.main-list img {
    width: 100%;
}

.home .post-meta {
    position: absolute;
    bottom: 15px;
}

.date-time {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #908a8a;
    bottom: 20%;
    margin-left: 10px;
}

.interview img {
    min-height: 120px;
    min-width: 120px;
}

.border-r {
    border-right: 1px solid #ddd;
}

hr:last-child {
    display: none;
}

.border-l {
    border-left: 1px solid #ddd;
}

.border-b {
    border-bottom: 1px solid #ddd;
}

.custom-list-item {
    border-bottom: solid 1px #ddd;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.custom-list .custom-list-item:last-child {
    border-bottom: none;
}

blockquote:before {
    content: "\f10d";
    font-family: FontAwesome;
    float: left;
    padding: 5px 10px;
    font-size: 30px;
    border: solid 3px #a2a2a2;
    margin-right: 10px;
    color: #484848;
}

.related .small-list {
    margin: 10px 0px;
}


/*Other*/

.border-right {
    border-right: solid #ddd 1px;
}

.border-left {
    border-left: solid #ddd 1px;
}

.seperator {
    border-bottom: solid #ddd 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*footer*/

footer {
    background: linear-gradient(45deg, #7f8db5 0%, #13a64f 100%);
}

h5.foot-title {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.font-s {
    font-size: 17px;
}

li.name {
    font-size: 20px;
    color: #fff;
    list-style: none;
    text-align: left;
    font-weight: 300;
}

ul.socio-bar {
    text-align: left;
    padding-left: 9px;
}

.socio-bar li {
    display: inline-block;
    margin: 5px;
    color: #fefefe;
}

.socio-bar li {
    color: #fefefe;
    font-size: 16px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: .4s;
}

.footer-top {
    background-color: #595959;
}

.copyright {
    background-color: #000
}

.author-image img {
    height: 65px;
    width: 74px!important;
    border-radius: 50%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1167px;
    }
}

@media (min-width: 575px) {
    .owl-video-wrapper {
        height: 400px !important;
    }
}

@media (max-width: 575px) {
    .post-entry img {
        width: 100%;
    }
    .no-pad {
        left: 1px!important;
    }
    .mbl-media {
        flex-direction: column!important;
    }
    .mbl-img img {
        height: 250px!important;
    }
    .loop-img {
        height: 250px!important;
    }
    .mbl-font {
        font-size: 32px!important;
    }
    .back-img-big {
        height: 250px!important;
    }
    .mbl-padding {
        padding-top: 12px;
    }
    .mbl-thumb img {
        height: 80px;
        width: 80px;
    }
    .mbl-pp {
        display: none;
    }
    .khabarhub-search {
        position: absolute;
        right: 16px;
        bottom: 0;
    }
}